.banner-content {
    height: 100%;
    background: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.banner-content h2 {
    text-align: center;
    margin-top: 20px;
}
.group-content {
    margin: 4px 4px;
}
.country-match {
    display: flex;
    
}
.country-match .icon{
    font-size: 30px;
}
.group-content .match-name {
    padding: 5px 0 0 5px;
    display: flex;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-white);
    font-weight: bold;
    margin-bottom: 10px;
}
.match-top {
    background: var(--color-background-gray);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    color: var(--color-text);
    padding: 10px;
    line-height: 20px;  
}
.match-top .match-time {
    width: 60px;
    padding-top: 8px;
}
.match-top .match{
    width: 450px;
}
.match-top .match .item-team1,.item-team2{
    display: flex;
    margin-right: 5px;
}
.star {
    margin-top: 6px;
    font-size: 30px;
}
