{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4,
        "semi": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
