:root {
  --color-primary: rgb(254, 73, 104);
  --color-background: #f4f5f9;

  --border-radius: 10px;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
