.container {
    background: var(--backgound-color-skyblue);
    padding: 10px 170px;
    display: flex;
}
.logo-top {
    margin-top: 10px;
}
.search {
    margin: 0 auto;
    width: 300px;
    margin-top: 10px;
}

.btn-radio .switch-toggle {
    margin-top: 10px;
    width: 40px;
    height: 20px;
    appearance: none;
    background: #fff;
    border-radius: 20px;
    transition: var(--transition-effect);
}
.switch-toggle::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    background: chocolate;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    transition: var(--transition-effect);
}
.switch-toggle:checked {
    background: rgb(72, 72, 72);
}
.switch-toggle:checked:before {
    margin-left: 20px;
}
