.wrapper {
    // width: 100%;
    // width: 300px;
    background: var(--color-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 12px 6px;
}
.title {
    padding: 6px 0;
}

.actions {
    display: flex;
}

.btn-back {
    display: flex;
    height: 30px;
    width: 30px;
    border: 0;
    background: transparent;
    margin-right: 12px;

    .icon {
        height: 24px;
        width: 24px;
        margin: auto;
    }

    &:hover {
        background: #eee;
        border-radius: 6px;
        cursor: pointer;
    }
}

.content {
    padding: 6px 0;
    border-top: 1px solid var(--border-color);
}
.content-item {
    display: flex;
    align-items: center;
    padding: 6px 0;
    cursor: pointer;

    &:hover {
        background-color: var(--color-primary-transparent);
        border-radius: 4px;
        padding: 6px;

        .content-title {
            color: var(--color-primary);
        }
    }
}
.content-avatar {
    margin-right: 6px;
    width: 30px;
    height: 30px;
    // border-radius: 50%;
    background: tomato;
}
.image {
    width: inherit;
    height: inherit;
}
.content-title {
    font-weight: 500;
    font-size: 1rem;
}

