@import url('https://rsms.me/inter/inter.css');

:root {
    --bg-scroll: #e2e2e2;
    --scroll-thumb: rgba(85, 85, 85, 0.4);
}

[class='dark'] {
    --bg-scroll: #4f4f4f;
    --scroll-thumb: rgba(181, 181, 181, 0.4);
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-scroll);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border: 4px solid var(--bg-scroll);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

body,
a,
button {
    font-family: inter var;
    font-size: 1rem;
    font-weight: 500;
}

.app-layout {
    transform: translateX(0);
    transition: ease-out 0.2s;
}

.app-layout-op {
    transform: translateX(240px);
    transition: ease-out 0.2s;
}

.mobile-menu {
    transform: translateX(-100%);
    animation: cl-menu ease-out 0.2s;
    transition: ease-out 0.2s;
}
.open-mobile-menu {
    transform: translateX(0);
    animation: op-menu ease-out 0.2s;
    transition: ease-out 0.2s;
}

// @keyframes op-menu {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(0);
//     }
// }

// @keyframes cl-menu {
//     0% {
//         transform: translateX(0);
//     }
//     100% {
//         transform: translateX(-100%);
//     }
// }

.react-calendar {
    border: 0;
    background: transparent;

    button {
        font-size: unset;
    }
}

.react-calendar__tile--active {
    background: #006edc !important;
    color: white;
}
